@media (max-width: 1199px)
{

}

@media (max-width: 991px)
{
	.bg1{
		display: none;
	}
	.banner2 {
	    background-image: url(../images/Untitled-6.webp);
	    background-color: #ffffff61;
	    background-blend-mode: overlay;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center;
	}
}
@media (max-width: 575px)
{
	.h5, h5{
		font-size: 1.10rem !important;
	}
	.banner{
		background-attachment: initial;
	}